extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow
    #timeCode.timeCodeText
    #nowTopRow.topRowText
  #mainContentBox.mainContentBox
    .floatl.offsetTime
      h2#offsetTime= offsetTime
      p Adjust Time
        .buttondiv
          button#offsetMinus.commandButton -
          button#offsetPlus.commandButton +
          button#offsetReset.commandButton Reset
        .buttondiv
          button#sorting.commandButton Sort and Update
        .buttondiv
          button#loadDefaultArray.commandButton Load
          button#writeDefaultArray.commandButton Save
        .buttondiv
          button(type='submit' class='commandButton' id="addNewRow") Add Row
          br
          br
        p Select Ip
        select#selectNumber.commandButton
          option Choose a ip address
        br
        button.commandButton( onClick="saveMyIpTo_myipjson()") Save ip
        br
        form(method='POST' action='/admin/setLoopbackip')
          button.commandButton(type='submit' onClick="setLoopbackip()") Set Ip 127.0.0.1


        


    div.floatl()
      form(method='POST' action='/admin/submit')
        each person, index in scheduledTimes
          div(id=index)
            input(type='text', value=person.title, name="title" + index, id="title" + index)
            input(type='time', value=person.startTime, name="startTime" + index, id="startTime" + index)
            input(type='time', value=person.cueLength, name="cueLength" + index, id="cueLength" + index step=1)
            label Q
            input.slider(type="range",value=person.cueBool, name="cueBool" + index, id="cueBool" + index, min="0" max="1")
            label 5
            input.slider(type="range",value=person.fiveBool, name="fiveBool" + index, id="fiveBool" + index,, min="0" max="1")

            button.delete(type="reset",name="deleteButton" + index, id=index, onClick="delete_button_click(this.id)") x
            br


    div.floatl#preview
      p#mainPreviewTitle(style="cursor: pointer;" onclick="iframePreviewFullscreen()") Preview
      iframe.preview#mainPreview(src='http://' + myLocalip)
      p 5Min countdown
      iframe.preview(src='http://' + myLocalip + '/countdown')
      button#reloadFiveMinCountDown.commandButton(style='width: 100%') Reload 5min
      .buttondiv
        button#one.commandButton(style='width: 15%') 1min
        button#two.commandButton(style='width: 15%') 2min
        button#three.commandButton(style='width: 15%') 3min
        button#four.commandButton(style='width: 15%') 4min
        button#five.commandButton(style='width: 15%') 5min
      button#alpha.commandButton(style='width: 100%') Alpha
  
  .downSite
    #cueTime.fiveMinute 
    
    
    
    
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src="static/javascripts/adminScript.js")
