extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow.shadow.p-3.mb-5.rounded.sticky-top
    #timeCode.timeCodeText
    #start(style="font-size: 5vh; font-weight: 100;")
    #nowTopRow.topRowText
  .container-fluid
    .row.justify-content-center.overflow-hidden
      .col-xl-9.col-sm-12.col-xs-12
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#Schedule-tab.nav-link.active(data-toggle='tab' href='#Schedule' role='tab' aria-controls='Schedule' aria-selected='true') Schedule
          li.nav-item
            a#Settings-tab.nav-link(data-toggle='tab' href='#Settings' role='tab' aria-controls='Settings' aria-selected='false') Settings
          li.nav-item
            a#overview-tab.nav-link(data-toggle='tab' href='#overview' role='tab' aria-controls='overview' aria-selected='false') Overview
        #myTabContent.tab-content.shadow.p-3.mb-5.rounded
          #Schedule.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='Schedule-tab' style="font-size: calc(5px + 1vw)")
              .form-row
                //- button#sorting.btn.btn-primary.btn-lg.btn-block Sort and Update
                
              form.overflow-auto(method='POST' action='/admin/submit' style="height: 45vh")
                button.btn.btn-dark(type='submit' style='width: 100%') Save
                .form-row
                  .col-1.text-right
                    | #
                  .col-4.text-left
                    | Title
                  .col-2.text-left
                    | Start Time
                  .col-2.text-left
                    | Cue Length
                  .col-1.text-left
                    | Cue
                  .col-1.text-left
                    | 5Min
                  .col-1.text-left
                    | DEL
                each person, index in schedule
                  div.form-row
                    .col-1.text-right= index+1
                    .col-4
                      input.form-control(type='text', value=person.title, name="title" + index, id="title" + index)
                    .col-2
                      input.form-control(type='time', value=person.startTime, name="startTime" + index, id="startTime" + index)
                    .col-2
                      input.form-control(type='time', value=person.cueLength, name="cueLength" + index, id="cueLength" + index step=1)
                    .col-1
                      //- label Q
                      input.slider(type="range",value=person.cueBool, name="cueBool" + index, id="cueBool" + index, min="0" max="1")
                    .col-1  
                      //- label 5
                      input.slider(type="range",value=person.fiveBool, name="fiveBool" + index, id="fiveBool" + index,, min="0" max="1")
                    .col-1
                      button.btn.btn-danger(type="reset",name="deleteButton" + index, id=index, onClick="delete_button_click(this.id)") x
              button.btn.btn-dark(type='submit' id="addNewRow" style='width: 100%') Add Row
              button#loadDefaultArray.btn.btn-dark(style='width: 50%') Load from Backup
              button#writeDefaultArray.btn.btn-dark(style='width: 50%') Save to Backup
          #Settings.tab-pane.fade(role='tabpanel' aria-labelledby='Settings-tab') 
            .row
              .col-3
                h2#offsetTime= offsetTime
                p Adjust Time  
                button#offsetMinus.btn.btn-dark  -
                button#offsetPlus.btn.btn-dark  +
                button#offsetReset.btn.btn-dark  Reset
              .col-9
                form(method='POST' action='/admin/submitSettings')
                  button.btn.btn-primary.btn-block() SAVE 
                  .form-row
                  -var i =0;
                  each val, index in timeSettings
                    
                    .form-row.row-cols-2
                      .col-9
                        .input-group
                          span.input-group-text(name="timeSettingstitle" + i, id="timeSettingstitle" + i, style="width:100%")= index
                      .col-3
                          if typeof val === "string"
                              input.form-control(type='color', value=val, name="value" + i, id="value" + i)
                          else if typeof val === "number"
                              input.form-control(type='number', value=val, name="value" + i, id="value" + i)
                    -i++
                  

          #overview.tab-pane.fade(role='tabpanel' aria-labelledby='overview-tab')
            .row.row-cols-3
              .col
                p#mainPreviewTitle(style="cursor: pointer;" onclick="iframePreviewFullscreen()") Preview
                iframe.preview(src='http://' + myLocalip)
              .col
                p Stage
                iframe.preview(src='http://' + myLocalip + '/stage')
              .col
                p FOH
                iframe.preview(src='http://' + myLocalip + '/foh')
              .col
                p 5Min countdown
                iframe.preview(src='http://' + myLocalip + '/countdown')
              .col
                .row(style="height: 50%")
                .row
                  button#reloadFiveMinCountDown.btn.btn-dark(style='width: 100%') Reload 5min
                .row
                  button#one.btn.btn-dark(style='width: 20%') 1min
                  button#two.btn.btn-dark(style='width: 20%') 2min
                  button#three.btn.btn-dark(style='width: 20%') 3min
                  button#four.btn.btn-dark(style='width: 20%') 4min
                  button#five.btn.btn-dark(style='width: 20%') 5min
                .row
                  button#alpha.btn.btn-dark(style='width: 100%') Alpha
      
  .downSite
    #cueTime.fiveMinute 
    
    
    
    
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src="static/javascripts/adminScript.js")
