extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow()
    #timeCode.timeCodeText
    h4#user= name
    #nowTopRow.topRowText
  #myTabContent.tab-content.shadow.p-3.mb-5.rounded(style="overflow: auto")
    #Schedule.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='Schedule-tab' style="font-size: calc(5px + 1vw)")
      .form-row
        //- button#sorting.btn.btn-primary.btn-lg.btn-block Sort and Update
        
      form.overflow-auto-x(method='POST' action='/submit'+name style="height: 45vh")
        button.btn.btn-dark(type='submit' style='width: 100%') Save
        .form-row
          .col-1.text-right
            | #
          .col-4.text-left
            | Title
          .col-4.text-left
            | TimeCode
          .col-2.text-left
            | Countdown
          .col-1.text-left
            | DEL
        each person, index in myCueList
          div.form-row.mywrapper(id="cueListRow" + index)
            .centeredOverlay(id="centeredOverlay" + index)
              //- span Loading...

            .col-1.text-right= index+1
            .col-4
              input.form-control(type='text', value=person.title, name="title" + index, id="title" + index)
            .col-4
              input.form-control(type='text', value=person.timecode, name="timeCode" + index, id="timeCode" + index)
            .col-2
              p(id="timecodeMs" + index) hi
            .col-1
              button.btn.btn-danger(type="reset",name="deleteButton" + index, id=index, onClick="delete_button_click(this.id)") x
            
            
            

    

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='static/javascripts/users.js')
