
extends layout

block content
  p(hidden='')
  .topRow(ondrop='dropHandler(event);' ondragover='dragOverHandler(event);')
    #timeCode.timeCodeText
    div
      button.btn.btn-dark(type="button" id="generateTimeCode") Generate
    h4#user(style="margin:0")=name
    #nowTopRow.topRowText

          
  .container-fluid
    .row.justify-content-center
      //- Settings Panel
      .col-xl-2.col-sm-1.col-xs-1
        h3 Settings
        button.btn.btn-dark(type='submit' style='width: 100%' form="form-Cuelist") Save
        button.btn.btn-dark(type="button",style='width: 100%' id="AddNewCueRow") Add new Row
        button.btn.btn-dark(type="button",style='width: 50%' id="ToggleTC") TimeCode
        button.btn.btn-dark(type="button",style='width: 50%' id="ResetTC") Hide Rows
        button.btn.btn-dark(type="button",style='width: 100%' id="centeredOverlayButton") Overlay

        hr(style='height:5px;background-color:white')

        h3 Add Cuelist
        button#addNewCuelist.btn.btn-dark(type='button' style="width: 100%") Add New Cuelist
        input.form-control(type='text', value="Cuelist", name="createCuelist_input", id="createCuelist_input" style='width: 100%')
        h3 Load / Delete
        button#loadCuelist.btn.btn-dark(type='button' style="width: 100%") Load Cuelist
        button#deleteCuelist.btn.btn-dark(type='button' style="width: 100%") Delete Cuelist
        select.form-control(type='select',name="cuelistDropdown_input",id="cuelistDropdown_input",)
              each list, index in cuelist
                    option= list.cuelistName

      .col-xl-10.col-sm-11.col-xs-11(style="font-size: calc(5px + 1vw)")
        form(method='POST' action='submit/'+name id="form-Cuelist")
          div.form-row
            .col-12
              select.form-control(type='select',name="SelectedCuelist",id="SelectedCuelist",)
                  each list, index in cuelist
                    if (list.cuelistName == selectedCueList)
                      option(selected=true)= list.cuelistName
                    else
                      option= list.cuelistName
                    
            //- .col-4
            //-   button.btn.btn-dark(type="button",style='width: 100%' id="SelectedCuelistButton") Save as SelectedCuelist


          //- button.btn.btn-dark(type='submit' style='width: 100%') Save
          //- button.btn.btn-dark(type="button",style='width: 50%' id="AddNewCueRow") Add new Row
          //- button.btn.btn-dark(type="button",style='width: 25%' id="ToggleTC") TimeCode is ON
          //- button.btn.btn-dark(type="button",style='width: 25%' id="ResetTC") Hide Rows ON/OFF

          div(class="userCueList normalCueList")
            h3#user
              | #{selectedCueList}
            .form-row
              .col-1.text-right
                | #
              .col-4.text-left
                | Title
              .col-3.text-left
                | TimeCode
              .col-2.text-left  
                | Countdown
              .col-1.text-left
                | Capture
              .col-1.text-left
                | DEL
              
            each person, index in cuelist[selectedCueListIndex].cues
              div.form-row.mywrapper(id="cueListRow" + index )
                .centeredOverlay(id="centeredOverlay" + index )
                  //- span Loading...

                .col-1.text-right(onClick="markAsChecked(this)")= index+1
                .col-4
                  input.form-control(type='text', value=person.title, name="title" + index, id="title" + index)
                .col-3
                  input.form-control(type='text', value=person.timecode, name="timeCode" + index, id="timeCode" + index)
                .col-2
                  p(id="timecodeMs" + index)
                .col-1
                  button.btn.btn-success(type="button",name="captureTCButton" + index, id="captureTCButton" + index, onClick="captureTCButton(this.id)") TC
                .col-1
                  button.btn.btn-danger(type="reset",name="deleteButton" + index, id="deleteButton" + index, onClick="delete_button_click(this.id)") x
    
    
    
  
  
  
  //- .shadow.p-3.mb-5.rounded.fixed-bottom
  //-   div.form-row
  //-     .col-12             
  //-       | This Section is NOT READY YET
  //-     div.form-row
  //-     .col-8
  //-       button#addNewCuelist.btn.btn-dark(type='button' style="width: 100%") Add New Cuelist
  //-       //button.btn.btn-dark(type='submit' id="addNewCuelist" style='width: 100%' formaction='submit/'+name+'/addNewCuelist') Add New Cuelist
  //-     .col-4
  //-         input.form-control(type='text', value="Cuelist", name="createCuelist_input", id="createCuelist_input")
  //-     .col-6
  //-         button#loadCuelist.btn.btn-dark(type='button' style="width: 100%") Load Cuelist
  //-     //- .col-4
  //-     //-     button#overwriteCuelist.btn.btn-dark(type='button' style="width: 100%") Overwrite Cuelist
  //-     .col-6
  //-         button#deleteCuelist.btn.btn-dark(type='button' style="width: 100%") Delete Cuelist
  //-     .col-12
  //-         select.form-control(type='select',name="cuelistDropdown_input",id="cuelistDropdown_input",)
  //-             each list, index in cuelist
  //-                   option= list.cuelistName
block pagescripts
  // Users Scripts
  script(src="/javascripts/users.js")
  script(src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js")
