extends layout

block content
  p(hidden='')
  .topRow()
    #timeCode.timeCodeText
    h4#user=name
    #nowTopRow.topRowText
  .container-fluid
    .row.justify-content-center.overflow-hidden
      .col-xl-9.col-sm-12.col-xs-12(style="font-size: calc(5px + 1vw)")
        .form-row

        form.overflow-auto-x(method='POST' action='submit/'+name style="height: 45vh")
          button.btn.btn-dark(type='submit' style='width: 100%') Save
          button.btn.btn-dark(type="button",style='width: 50%' id="AddNewCueRow") Add new Row
          button.btn.btn-dark(type="button",style='width: 25%' id="ToggleTC") TimeCode is ON
          button.btn.btn-dark(type="button",style='width: 25%' id="ResetTC") Hide Rows ON/OFF

          .form-row
            .col-1.text-right
              | #
            .col-4.text-left
              | Title
            .col-3.text-left
              | TimeCode
            .col-2.text-left
              | Countdown
            .col-1.text-left
              | Capture
            .col-1.text-left
              | DEL
          each person, index in cuelist
            div.form-row.mywrapper(id="cueListRow" + index)
              .centeredOverlay(id="centeredOverlay" + index)
                //- span Loading...

              .col-1.text-right= index+1
              .col-4
                input.form-control(type='text', value=person.title, name="title" + index, id="title" + index)
              .col-3
                input.form-control(type='text', value=person.timecode, name="timeCode" + index, id="timeCode" + index)
              .col-2
                p(id="timecodeMs" + index)
              .col-1
                button.btn.btn-success(type="button",name="captureTCButton" + index, id=index, onClick="captureTCButton(this.id)") TC
              .col-1
                button.btn.btn-danger(type="reset",name="deleteButton" + index, id=index, onClick="delete_button_click(this.id)") x

block pagescripts
  // Users Scripts
  script(src="/javascripts/users.js")