// db-settings
.row
    //- .col-3
    //-     h2#offsetTime= offsetTime
    //-     p Adjust Time
    //-     button#offsetMinus.btn.btn-dark  -
    //-     button#offsetPlus.btn.btn-dark  +
    //-     button#offsetReset.btn.btn-dark  Reset
    .col-12
        form(method='POST' action='/admin/submitSettings')
            button.btn.btn-primary.btn-block() SAVE
            .form-row
            -var i =0;
            .col-12.bg-dark
                h3 timeSettings
            each val, index in settings.timeSettings
                .form-row.row-cols-2
                    .col-9
                        .input-group
                            span.input-group-text(name="timeSettingstitle" + i, id="timeSettingstitle" + i, style="width:100%")= index
                    .col-3
                            input.form-control(type='number', value=val, name="value" + i, id="value" + i)
                -i++
            .col-12.bg-dark
                h3 Color
            each val, index in settings.Color
                .form-row.row-cols-2
                    .col-9
                        .input-group
                            span.input-group-text(name="timeSettingstitle" + i, id="timeSettingstitle" + i, style="width:100%")= index
                    .col-3
                            input.form-control(type='color', value=val, name="value" + i, id="value" + i)
                -i++
            .col-12.bg-dark
                h3 MIDI
            each val, index in settings.MIDI
                .form-row.row-cols-2
                    .col-9
                        .input-group
                            span.input-group-text(name="timeSettingstitle" + i, id="timeSettingstitle" + i, style="width:100%")= index
                    .col-3
                        if index == "midi_interface_ID"
                            select.form-control(type='select')
                                each val, key in settings.MIDI.midi_interface_ID
                                    option= key
                        else
                            input.form-control(type='number', value=val, name="value" + i, id="value" + i)
                -i++
            .col-12.bg-dark
                h3 ARTNET
            each val, index in settings.ARTNET
                .form-row.row-cols-2
                    .col-9
                        .input-group
                            span.input-group-text(name="timeSettingstitle" + i, id="timeSettingstitle" + i, style="width:100%")= index
                    .col-3
                            input.form-control(type='number', value=val, name="value" + i, id="value" + i)
                -i++
